*{
	margin:0;
	padding:0;
}

.logo{
	width:50%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.logo img{
	width:60%;
	height:50%;
	border:3px solid white;
	border-radius:50px;
}

.navbar{
	align-items:rigt;
	display:flex;
	word-spacing:10px;
}

.nav-list{
 width:50%;
 display:flex;
 align-items:center;
}
li{
	text-decoration:none;
}
.nav-list li{
list-style:none;
margin-right:20px;
font-weight:bold;
color:white;
font-size:20px;
align-items:right;
	word-spacing:10px;
}

.nav-list li a{
text-decoration:none;
color:white;
}
.nav-list li a:hover{
text-decoration:none;
color:red;
}
#search{
	padding:5px;
	font-size:17px;
	border:2px solid grey;
	border-radius:9px;
}
.admin li{
list-style:none;
margin-right:20px;
font-weight:bold;
color:white;
font-size:20px;
align-items:right;
word-spacing:10px;
}
.admin li a{
text-decoration:none;
text-align:center;
color:white;
}
.admin li a:hover{
text-decoration:none;
color:red;
}
.box-main{
	display:flex;
	justify-content:left;
	align-items:center;
	color:white;
	font-family:sans-serif;
}

.back{
	background:rgba(0,0,0,0.7) url('BG.jpg');
	background-size:cover;
	background-blend-mode:lighter;
}
body{
	background:rgba(0,0,0,0.7) url('BG.jpg');
	background-size:cover;
	background-blend-mode:;
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	font-family:sans-serif;
}
.logon{
	width:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	padding-top:6px;
}

.logon img{
	width:60%;
	height:100%;
	border:3px solid white;
	border-radius:50px;
}





